$filled-button: (
  'primary': (
    background: $black,
    color: $white
  ),
  'dark': (
    background: $raisin-black,
    color: $white
  ),
  'white': (
    background: $white,
    color: $curulean-blue,
    border-radius:rem(1)
  ),
  'blue':(
    background: $curulean-blue,
    color: $white,
    padding:rem(8)
  )
  
);
$outline-button: (
  'outline-primary': $black,
  'outline-dark': $raisin-black,
);
$sizes: (
  'xs': 35,
  'sm': 40,
  'md': 46,
  'lg': 50,
);
$radius: (
  'xs': 4,
  'sm': 8,
  'md': 16,
);

.a-button {
  $root: &;
  // border-radius: rem(999);
  padding-left: rem(16);
  padding-right: rem(16);
  position: relative;
  transition: $transition-long ease;

  white-space: nowrap;

  width: 100%;

  @include adjust-flex;
  @include reset-button;

  &:not(:disabled) {
    &:hover,
    &:focus {
      transform: scale(1.02);
    }
  }

  &-white {
    border-radius: rem(1);

  }

  &_loadingIcon {
    width: rem(24);
  }

  &_wrapper {
    @include adjust-flex(center, center);
  }

  @each $name,
    $size in $sizes {
    &-#{$name} {
      height: rem($size);
    }
  }

  @each $name,
    $value in $radius {
    &-r#{$name} {
      border-radius: rem($value);
    }
  }

  @each $name,
    $value in $filled-button {
    &-#{$name} {
      background: map-get($value, 'background');
      border-radius: map-get($value, 'borderRadius');
      color: map-get($value, 'color');
      padding: map-get($value, 'padding');
    }
  }

  @each $name,
    $outline in $outline-button {
    &-#{$name} {
      border: 1px solid $outline;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.7;
  }
}
